body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: left; /* Align text to the left */
    padding: 10px 20px;
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays on top */
}

#logo {
    max-width: 50px; /* Adjust size as needed */
    margin-right: 20px; /* Space between logo and text */
}

header h1 {
    margin: 0;
    font-size: 24px; /* Adjust size as needed */
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #4CAF50;
}

section {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}
