nav {
    background-color: #fff; /* Optional background for nav */
    border-top: 5px solid #822776; /* Optional top border in theme color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for nav */
    padding: 10px 0; /* Increase padding to make nav bar thicker */
    position: fixed;
    width: 100%;
    /*z-index: 1001; /* Ensure it stays above other content */
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
    display: flex;
    justify-content: right;
}

nav ul li {
    display: inline;
    margin: 0 20px; /* Adjust spacing between links */
}

nav ul li a {
    text-decoration: none;
    color: #822776;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s, background-color 0.3s;
}

nav ul li a:hover {
    color: #fff;
    background-color: #be7fb6; /* Background change on hover */
    border-radius: 5px; /* Optional rounded corners */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url('../images/body-background_waifu2x_3x_3n_jpg.jpg');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-attachment: fixed;
}

h1 {
    margin: 20px 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.gallery-item {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    margin: 5px;
    overflow: hidden; /* Ensures images don't overflow their container */
}

.gallery-item img {
    width: 100%;
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensures images cover the container while maintaining aspect ratio */
    display: block;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .gallery-item {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 100%;
    }
}

.modal {
    display: none; /* 默认隐藏 */
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    animation: zoom 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}